/*----- Mirna (start) -----*/

@import url("https://fonts.cdnfonts.com/css/hayward-2");
@import url("https://fonts.cdnfonts.com/css/quattrocento-2");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/koulen");
@import url("https://fonts.cdnfonts.com/css/instrument-sans");
@import url("https://fonts.cdnfonts.com/css/actor");

@font-face {
  font-family: "Romely";
  src: url("fonts/romely/Romely\ Light.ttf");
}

/*----- Mirna (end) -----*/

/*----- Cyrine (start) -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 107px;
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav a {
  font-family: "Romely";
  text-decoration: none;
  color: #4c2b08;
  margin: 0 15px;
  font-size: 28px;
  white-space: nowrap;
  -webkit-text-stroke: 0.25px #3d240e;
}

nav .logo {
  font-family: "Romely";
  font-size: 40px;
  -webkit-text-stroke: 0.5px #4c2b08;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 15px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
}
.icons button {
  background-color: transparent;
  color: #4c2b08;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px; /* Adjust the size of the icon */
}

.icons{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.material-icons, .shopping-bag{
  flex-shrink: 0;
}

.shopping-bag{
  margin-top: 8px;
  margin-bottom: 15px;
  position: relative;
  left: -30px;
}
.material-icons{
  margin-right: 60px;
}

button:hover {
  color: #333; /* Change color on hover */
}

/* Hamburger menu styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.3s;
}

.nav-links {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.nav-links a {
  display: inline;
}

.nav-links.active {
  font-family: "Romely";
  font-size: 28px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  header {
    display: block;
  }

  .search-bar {
    display: none;
  }

  .mobile {
    display: block;
  }

  .pc {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }
}

/*----- Cyrine (end) -----*/

/*----- Mirna (start) -----*/

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

input:focus {
  outline: none !important;
}

.title {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
  margin-top: 30px;
  gap: 15px;
}

.title-content {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-family: "Romely";
  font-size: 36.78px;
  color: #3d240e;
  -webkit-text-stroke: 0.29px #3d240e;
}

.sub-title {
  display: flex;
  justify-content: end;
  font-family: "Hayward", sans-serif;
  font-size: 33.33px;
  color: #c59f72;
  margin-top: -45px;
}

.line {
  margin-top: 3px;
}

.btn {
  border: none !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107.42px;
  height: 39px;
  border: 1.37px solid #3d240e;
  border-radius: 14.37px;
  padding: 0 3px !important;
  margin-top: 5px;
}

.btn-more {
  font-family: "Romely";
  font-size: 21.84px;
  color: #3d240e;
  -webkit-text-stroke: 0.16px #3d240e;
  text-wrap: nowrap;
  padding: 0;
}
/*----- Mirna (end) -----*/

/* ----- Yazan (Start) ----- */

/* footer */
.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #e9e4da;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #4c2b08;
  text-decoration: none;
  font-size: 14px;
}

.subscription {
  margin-top: 15px;
}

.subscription input[type="email"],
button {
  padding: 10px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 14px;
  border-radius: 40px;
}

.subscription button {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

#myInput {
  padding-right: 30px;
}

/* ----- Yazan (End) ----- */
