/*----- Mirna (start) -----*/

/* genral */
@import url("https://fonts.cdnfonts.com/css/hayward-2");
@import url("https://fonts.cdnfonts.com/css/quattrocento-2");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/koulen");
@import url("https://fonts.cdnfonts.com/css/instrument-sans");

@font-face {
  font-family: "Romely";
  src: url("fonts/romely/Romely\ Light.ttf");
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.title {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
  margin-top: 30px;
  gap: 15px;
}

.title-content{
  display: flex;
  flex-direction: column;
}

.main-title {
  font-family: "Romely";
  font-size: 36.78px;
  color: #3d240e;
  -webkit-text-stroke: 0.29px #3d240e;
}

.sub-title {
  display: flex;
  justify-content: end;
  font-family: "Hayward", sans-serif;
  font-size: 33.33px;
  color: #c59f72;
  margin-top: -45px;
}

.line{
  margin-top: 3px;
}

.btn {
  border: none !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107.42px;
  height: 39px;
  border: 1.37px solid #3d240e;
  border-radius: 14.37px;
  padding: 0 3px !important;
  margin-top: 5px;
}

.btn-more {
  font-family: "Romely";
  font-size: 21.84px;
  color: #3d240e;
  -webkit-text-stroke: 0.16px #3d240e;
  text-wrap: nowrap;
  padding: 0;
}

/* best sellers */
#best-sub {
  font-size: 30px;
  margin-right: -70px;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.move-right,
.move-left {
  margin: 0 70px;
  margin-top: -160px;
  cursor: pointer;
}

.cards-items {
  display: flex;
  flex-direction: row;
}

.card {
  margin: 35px;
  border: none;
}

.card-body {
  padding-top: 5px !important;
}

.card-title {
  font-family: "Romely";
  font-size: 24px;
  -webkit-text-stroke: 0.25px #3d240e;
  color: #3d240e;
  margin-bottom: 0 !important;
}

.card-text {
  font-family: "Quattrocento", sans-serif;
  font-size: 24px;
  color: #6c432d;
  margin-bottom: 5px !important;
}

#card-center .card-title {
  font-size: 28px;
}

#card-center .card-text {
  font-size: 30px;
}

.card-image {
  border: 2px solid #bc976c;
  width: 267px;
  height: 242px;
  border-radius: 23px;
  padding: 10px;
}

#card-center .card-image {
  width: 335px;
  height: 306px;
}

.card-image img {
  height: 100%;
  width: 100%;
}

.quantity-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.counter-border {
  display: flex;
  justify-content: center;
  width: 73px;
  height: 36.87px;
  border-radius: 12px;
  border: 1px solid #4c2b08;
}

.counter-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 18.5px 0;
}

.quantity-input {
  font-family: "Romely";
  border: none;
  width: 15px;
  height: 33.11px;
  font-size: 31.26px;
  text-align: center;
  color: #4c2b08;
  background: transparent;
  margin-bottom: -5px;
}

.quantity-input:focus {
  outline: none !important;
}

.quantity-counter a {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #4c2b08;
  padding: 5px;
  font-weight: 300;
}

.minus-btn {
  font-size: 21px !important;
  margin-top: -16px;
}

.add-btn {
  margin-top: 3px;
  font-size: 26.05px !important;
}

/* customization */
#customization {
  background: url("images/customization/image\ 38.png") no-repeat center;
  background-size: contain;
  height: 708px;
  justify-content: start;
  margin-top: 0;
}

#customization .title{
  gap: 8px;
}

#customization-sub {
  margin-top: -46px;
  margin-right: -96px;
}

.customize,
.total {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.customize {
  margin-top: 50px;
}

.ingredients,
.ingredient,
.jar-customization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients {
  width: 45%;
}

#ingredients-title {
  font-size: 32px;
  -webkit-text-stroke: 0px;
}

.ing-left,
.ing-right {
  margin-top: -80px;
  cursor: pointer;
}

.ingredients-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.calories,
.price {
  gap: 5px;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #4c2b08;
}

h6 {
  font-family: "Koulen", sans-serif;
  font-size: 24px;
  color: #4c2b08;
}

.total {
  margin: 30px 0;
}

.value {
  width: 48px;
  height: 34px;
  border: 1px solid #4c2b08;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ing-title {
  margin-top: 15px;
}

.ingredients .button {
  width: 142px;
  height: 32px;
  border-radius: 12px;
}

.ingredients .btn-more {
  font-size: 24px;
  -webkit-text-stroke: 0px;
}

.jar-customization {
  margin-top: 20px;
}

.size,
.sizes,
.calories,
.price,
.value,
.settings,
.undo,
.reset {
  display: flex;
  flex-direction: row;
}

.size-title {
  font-weight: 700;
  margin-right: 15px;
}

.sizes {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.size-btn {
  border: 1px solid #4c2b08;
  width: 32px;
  height: 31px;
  border-radius: 12px;
  text-align: center;
}

.size-btn h5 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
}

.settings {
  width: 100%;
  justify-content: space-evenly;
}

.size,
.settings {
  margin-top: 15px;
}

.size-btn,
.undo,
.reset {
  cursor: pointer;
}

.undo div,
.reset h6 {
  margin-right: 5px;
}

.reset h6 {
  margin-top: 2px;
}

.undo h5,
.reset h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 4.2px;
}

/* blog */
#our-blog {
  width: 100%;
  height: 564px;
  display: flex;
  justify-content: start;
}

#our-blog .background {
  width: 100%;
  height: 100%;
}

#our-blog .title {
  flex-direction: column;
  width: 100%;
  align-items: end;
  position: absolute;
  margin-top: 100px;
  margin-right: 300px;
}

#our-blog .title div {
  width: fit-content;
}

#our-blog .main-title {
  font-size: 96px;
}

#blog-sub {
  font-size: 40px;
  margin-top: -60px;
  margin-right: -90px;
}

#our-blog .btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

#our-blog .button {
  width: 103px;
  height: 36px;
  border-radius: 13.26px;
}

#our-blog .btn-more {
  font-size: 20.16px;
  -webkit-text-stroke: 0.15px #3d240e;
}
/*----- Mirna (end) -----*/

/*----- Cyrine (start) -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-weight: 500;
  font-size: 1rem;
}

nav a.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a:hover {
  color: #555;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 15px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
}

/* Hamburger menu styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.3s;
}

.nav-links {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.nav-links a {
  display: inline;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.hero {
  width: 100%;
  height: 781.97px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  background-image: url("images/Untitled\ Project_enhanced\ 1@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.hero-text {
  max-width: 50%;
  color: #333;
  text-align: center;
  margin: auto;
  margin-left: 100px;
}

.hero h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-button {
  border: 2px solid black;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.hero-button:hover {
  background-color: #333;
  color: #fff;
}

.carousel-dots {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 5px;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #333;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  .mobile {
    display: block;
  }

  .pc {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2.5em;
  }
}
/*----- Cyrine (end) -----*/

/*----- Rami (Start) -----*/
/* New for fall */
.fall-section {
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #e0dcd2;
  color: #4b3b2b;
  margin-bottom: 0;
}

.text-content {
  max-width: 400px;
}

.text-content h1 {
  font-size: 5rem;
  font-family: "Romely";
}

.text-content p {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.5;
}

.text-content button {
  margin-top: 20px;
  padding: 6px;
  border: 1px solid #4b3b2b;
  background-color: transparent;
  font-size: 0.9rem;
  font-family: "Romely";
  cursor: pointer;
  border-radius: 15px;
}

.text-content button:hover {
  background-color: #4b3b2b;
  color: #fff;
}
.image-content img {
  height: 350px;
  
}
/* New for fall (end) */

/* choose us */
.why_us_title{
     display: flex;
    flex-direction: column;
    
    margin-top: 30px;
}
.why_us_title h2{
  font-family: "Romely";
  font-size: 36.78px;
  color: #3D240E;
  -webkit-text-stroke: 0.29px #3d240e;
}
.why_us_title h3{
  display: flex;
  justify-content: end;
  font-family: "Hayward", sans-serif;
  font-size: 33.33px;
  color: #c59f72;
  margin-top: -40px;
position: relative;
left: 15%;
}
.why_us_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 100px;
  margin-top: 25px;
}

.why_us_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  
}

.why_us_card img {
  width: 87.76px;
  height: 87.76px;

}

.why_us_card_content h3 {
  font-size: 24px;
  font-family: "Romely";
  font-weight: 300;
  margin-top: 15px;
  color: #3D240E;
}

.why_us_card_content p {
  font-size: 15px;
  font-weight: 400;
  color: #000000; 
  margin-top: 8px;
  font-family: "Instrument Sans";
}
/* choose us end */
/*----- Rami (End) -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
  
}

.left, .right {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.right {
  border-left: 2px solid black;
  flex:1;
}

.feedback-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.feedback-name {
  font-weight: bold;
  margin-top: 10px;
}

.arrows {
  display: inline-flex;
  align-items: center;
}

.arrow {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #E9E4DA;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #4C2B08;
  text-decoration: none;
  font-size: 14px;
}

.subscription {
  margin-top: 15px;
}

.subscription input[type="email"], button {
  padding: 10px;
  border: 2px solid black;
  background-color:transparent;
  font-size: 14px;
  border-radius:40px;
}

.subscription button {
  background-color: black;
  color: white;
  cursor: pointer;
 
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

#myInput {
  padding-right: 30px;  
}

.image-wrapper {
  position: absolute;
  right: 10px;  
  top: 50%;
  transform: translateY(-50%);
}

.image-wrapper img {
  width: 20px;  
  height: 20px;
}
