.l-left {
  margin-right: 7px;
}

.l-right {
  margin-left: 8px;
}

#cart-sub {
  font-size: 30px;
  margin-right: -90px;
  margin-top: -40px;
}

/* Cart Table */
.cart {
  position: relative;
  height: 1029px;
  top: 145px;
}

/* Cart Table */
.cart_table {
  border: 2px solid #d8c3a5; /* Set border for table cells */
  border-radius: 69px;
  width: 1236px;
  height: 928px;
  margin-left: 90px;
  margin-top: 67px;
}

.table-head {
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e9e4da;
  font-family: "Romely";
  font-weight: 100;
  font-size: 34px;
  color: #4c2b08;
}

.cart th {
  padding: 10px;
  background-color: #e9e4da;
  border-bottom: 2px solid #d8c3a5;
  width: 1236.02px;
  height: 118.55px;
  text-align: left;
  font-weight: bold;
  padding-left: 90px;
}
th:first-child {
  border-top-left-radius: 69px;
}
th:last-child {
  border-top-right-radius: 69px;
}

.Remove {
  padding-left: 100px;
  width: 36px;
  height: 45px;
  position: relative;
  left: 280px;
  cursor: pointer;
}
.total {
  font-family: "Quattrocento", sans-serif;
  font-size: 36px;
  color: #6c432d;
  width: 99px;
  height: 37px;
  position: relative;
  left: 370px;
}
.vertical-line {
  color: #d9d9d9;
  width: 69px;
  font-weight: 1px;
}

.itemimg {
  width: 142.3px;
  height: 128.19px;
  border-radius: 8.05px;
  margin-right: 10px;
  margin-left: 50px;
}

.itemname {
  font-family: "Romely";
  font-size: 24px;
  font-weight: lighter;
  color: #3d240e;
  width: 181px;
  height: 30px;
  position: relative;
  left: 270px;
  bottom: 70px;
}

.quantity {
  position: relative;
  left: 230px;
}

.counter-border {
  width: 90px;
  height: 40.82px;
  border-radius: 14.79px;
  border: 1.23 solid #4c2b08;
}

.minus-btn {
  font-size: 25.89px;
}

.quantity-input {
  font-size: 28px;
}

.add-btn {
  font-size: 32.11px;
}

/* Summary Section */
.summary_table {
  border: 1.5px solid #d8c3a5; /* Set border for table cells */
  border-radius: 46px;
  width: 852px;
  height: 173px;
  margin-top: 180px;
}
th,
td {
  padding: 10px; /* Add padding inside cells */
}
.summary-head {
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e9e4da;
  border-radius: 46;
  font-family: "Romely";
  font-weight: 100;
  font-size: 32px;
  color: #4c2b08;
}

.Summary th {
  padding: 10px;
  background-color: #e9e4da;
  border-bottom: 1.5px solid #d8c3a5;
  text-align: left;
  font-weight: bold;
  width: 852px;
  height: 90px;
}
.total {
  border-top-left-radius: 46px;
  margin-left: -10px;
  padding-left: 45px;
}

.discount {
  text-wrap: nowrap;
}
.dlv {
  border-top-right-radius: 46px;
  margin-left: 30px;
  text-wrap: nowrap;
  padding-right: 40px;
}

.txt {
  text-align: left;
  font-family: "Romely";
  font-size: 32px;
  font-weight: lighter;
  color: #4c2b08;
  text-wrap: nowrap;
}

.coupon {
  text-wrap: nowrap;
}
.txtcoupon {
  font-family: "Romely";
  font-size: 32px;
  font-weight: lighter;
  color: #4c2b08;
}
.discount {
  font-family: "Romely";
  font-size: 32px;
  font-weight: lighter;
  color: #4c2b08;
}
.percentage {
  font-family: "Romely";
  font-size: 32px;
  font-weight: lighter;
  color: #bd8f58;
}

.button {
  margin-top: 39px;
  border: 1.37px solid #3d240e;
  border-radius: 14.37px;
  width: 118px;
  height: 39px;
  background-color: transparent;

}

.btn-more {
  color: #3d240e;
  -webkit-text-stroke: 0.16px #3d240e;
  font-size: 21.84px;
}
