.banner-section {
  margin-top: 120px;
  height: 68vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #352000;
  gap: 227px;
  background-image: url(products-images/banner.png);
}
.ifo {
  flex: 1;
  position: relative;
  max-width: 876px;
  /* margin-left: 57px; */
}
.banner-section h1 {
  font-size: 90px;
  font-family: "Romely";
  -webkit-text-stroke: 0.25px #3d240e;
  color: #3d240e;
  text-wrap: nowrap !important;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
}
.banner-section h2 {
  font-family: "Quattrocento", sans-serif;
  font-size: 60px;
  color: #6c432d;
  margin-bottom: 5px !important;
}
.banner-section h3 {
  font-family: "Hayward", sans-serif;
  font-size: 60px;
  color: #6c432d;
  margin-bottom: 5px !important;
  position: absolute;
  right: 0;
  bottom: -10px;
}
.filter-product {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  position: relative;
  right: 80%;
}
.filter-product select{
  width: 80px;
  border-radius: 10px;
}
.filter-product select:nth-child(1){
  border: 2px solid #BC976C;
  padding: 3px 0px;
}
.filter-product select:nth-child(2) {

  border: none;
}
.filter-product .sort{
  border: 1px solid;
  border-radius: 10px;
  padding: 2px 5px;
  width: 140px;
  border: 2px solid #BC976C;
  
}
.filter-product .sort img{
  width: 20px;
  height: 20px;
}
.products-cards {
  gap: 36px !important;
}
.cart-info {
  gap: 19px;
}
.footer {
  margin-top: 100px !important;
}

/* Card Container */
.card {
  width: 286px !important; /* Width of each card */
  height: 369.87px !important; /* Height of each card */
}
.card-image {
  width: 286px !important;
  height: 263px !important;
}
.card-image img {
  width: 266.57px !important;
  height: 242.83px !important;
}

.card-body {
  padding: 0;
  height: 97.87px !important;
}
