/* banner */
#our-blog {
  margin-bottom: 0;
}

#blog-sub {
  margin-top: -62px;
  margin-right: -39px;
}

/* description */
.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 134px;
  gap: 60px;
  width: 100%;
  margin-top: 200px;
}

.description h1 {
  width: 631px;
  height: 129px;
  font-family: "Romely";
  font-size: 64px;
  font-weight: 500;
  color: #000000;
}

.description p {
  width: 599px;
  height: 134px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 22px;
  color: #000000;
  text-align: justify;
}

/* content */
.content {
  margin: 68px 0;
  gap: 25px;
}

.categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 18px;
  margin-left: 15%;
}

.categories .category {
  cursor: pointer;
}

/* blog cards */
.blog-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 68px 21px;
  width: 100%;
}

.card {
  width: 416px;
  height: 645px;
  border: 2px solid #bc976c !important;
  border-radius: 23px;
  margin-top: 0;
}

.card-image {
  width: 100%;
  height: 50%;
  border: none;
  margin-bottom: 21px;
}

.card-image img {
  width: 390px !important;
  height: 303px !important;
}

.category-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 23px;
}

.category {
  width: 83px;
  height: 30px;
  border: 1px solid #4c2b08;
  border-radius: 12px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.date {
  font-family: "Instrument Sans", sans-serif;
  font-size: 22px;
  color: #666666;
}

.card-title {
  display: flex;
  align-items: center;
  height: 58px;
  font-family: "Romely";
  color: #000000;
  font-weight: 700;
  -webkit-text-stroke: 0;
  margin: 0 !important;
  margin-bottom: 5px !important;
  text-wrap: wrap !important;
}

.card-text {
  font-family: "Instrument Sans", sans-serif;
  font-size: 20px;
  width: 344px;
  height: 85px;
  color: #000000;
  text-align: justify;
  margin: 0 !important;
  margin-bottom: 23px !important;
}

.read-post {
  display: flex;
  flex-direction: row;
  gap: 9px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

/* popup */
.modal-dialog {
  max-width: 946px !important;
}

.modal-content {
  gap: 50px;
  border-radius: 20px !important;
  height: 727px !important;
}

.back {
  display: flex;
  flex-direction: row;
  font-family: "Romely";
  font-size: 20px;
  -webkit-text-stroke: 0.44px #4c2b08;
  color: #4c2b08;
  gap: 5px;
  margin-left: 44px;
  margin-top: 39px;
  cursor: pointer;
}

.details-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-title {
  font-family: "Romely";
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-wrap: nowrap;
  width: fit-content;
}

.modal-content .category-date {
  margin: 0;
}

.modal-content .category {
  width: 76px;
}

.details-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: 39px;
}

.blog-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 417.35px;
  border: 2px solid #bc976c !important;
  border-radius: 23px;
}

.blog-image img {
  width: 395.84px;
  height: 389.75px;
}

.blog-description {
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  color: #4c2b08;
  width: 450px;
  height: 417px;
  text-align: justify;
}

/* responsive */
@media (max-width: 1280px) {
  .description {
    height: fit-content;
    padding: 0 100px;
  }

  .description h1,
  .description p {
    height: fit-content;
  }
}

@media (max-width: 912px) {
  .description {
    padding: 0 70px;
  }

  .description h1 {
    width: 50%;
    font-size: 60px;
  }

  .description p {
    width: 50%;
    font-size: 20px;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .card {
    width: 316px;
    height: 545px;
  }

  .card-image img {
    width: 300px !important;
    height: 235px !important;
  }

  .card-text {
    width: 100%;
  }

  .modal-dialog {
    max-width: 70% !important;
  }

  .modal-content {
    height: fit-content !important;
  }

  .blog-title {
    padding: 0 50px;
    text-wrap: wrap;
  }

  .modal-content .category-date {
    padding: 0 50px;
  }
}

@media (max-width: 540px) {
  .description h1 {
    font-size: 55px;
  }

  .description p {
    font-size: 16px;
  }
}

@media (max-width: 435px) {
  .description {
    padding: 0 30px;
  }

  .description h1 {
    width: 40%;
  }

  .description p {
    width: 60%;
  }
}

@media (max-width: 380px) {
  #our-blog .title {
    margin-right: 120px !important;
  }
}
